button {
    text-align: center;
    background: red;
    border: 0px;
    color: white;
    width: 50px;
}

body {
    width: 500px;

}

tr:nth-child(odd) {
    background: sandybrown;
}

tr:nth-child(even) {
    background: lightgreen;
}

input {
    width: 200px;
}

div {
    margin-left: 100px;
}

table, tr, td {
    border-collapse: collapse;
}
